::selection {
  background-color: rgb(155, 155, 155);
  color: white;
}
body, footer, .nav-bar {
  background-color: #212121!important;
  background: #212121!important;
  color: white!important;
}
h1,h2,h3,h4,h5,h6,p,li,a {
  color: white!important;
}
a:link{
  text-shadow: none!important;
}